
    <app-header></app-header>

    <div class="row mt-2">
        <div class="col-3">
            <app-navbar>
            </app-navbar>
        </div>
        <div class="col-1"></div>
        <div class="col-4 parent mt-5">

            <form  #f="ngForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="email">EmployeeID</label>
                <input type="text" class="form-control" id="email" placeholder="Enter Employee ID" name="employeeId"  ngModel>
              </div>
              <div class="form-group">
                <label for="pwd">Description</label>
                <input type="text" class="form-control" id="pwd" placeholder="Give Description" name="discription"  ngModel>
              </div>
              <div class="form-group">
                  <label for="pwd">Compliment </label>
                  <input type="text" class="form-control" id="pwd" placeholder="Enter Rave Compliment " name="raveCompliment"  ngModel>
                </div>
              <button type="submit" class="btn ">Submit</button>
            </form>
    </div >
    <div class="col-4"></div>

    <div class="position">
        <app-footer></app-footer>
    </div>