#header{
    background:linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)),url("../../assets/images/winter.png");
    background-size:cover;
    margin:0px;
    height:200px;
}
.logo{
    color:white;
    font-size:50px;
    font-weight:600;
    float:left;
    margin-top:0px;
}
.employeeimage{
    border-radius:50%;
    float:left;
    height:50px;
    width:50px;
    margin-left:20px;
    margin-right:10px;
    margin-top:-5px;
}
.emp_info{
    float:left;
    color:white;
}
.empname{
    line-height: 1;
    width:300px;
    font-size:18px;
}
.empname a{
    color:white; 
}
.size{
    color:whitesmoke;
    border-radius: 50%;
    width:400px;
    border-color:red;
}
.details{
    
    margin-left:64px;
    margin-top:-40px;

}
.rounded-circle
{
    height:50px;
    width:50px;
}