

  <div class="row jumbotron" id="header">
      <div class="col-md-12 text-left">
          <h1 class="logo">myspace</h1>
             <div class="col-md-12 text-left" >
                      
                      <div class="emp_info">
                        
                           
                           <img src="../../assets/images/pro.jpg" class="rounded-circle mt-3 ml-2" alt="Cinque Terre">
                           <div class="details">
                                  <p class="empname">{{empname}}<br />
                                   <a href="#" class="logout" > Logout</a>
                                  
                              </p>
                          </div>
                          <div class="search">
                              <!-- <input type="text" placeholder="Search Employee By..ID,NAME"
                                  size="30" name="searchString"
                                  ref="search"
                               
                                 /> -->
                                 <input type="text" name="search" placeholder="search" (change)="chaneEvent($event)" 
                                 />
                                 <button  (click) ="onSubmit()">search</button>
                          </div>
                      </div>
                  </div>
                
       
      </div>
  </div>

