<div class="footer row">
    <div class="col-md-6 col-sm-12 text-left ">
        <div class="info">
            <h3><span class="inno">Inno</span><span class="minds">minds</span></h3>
            <p class="copyrights">Copyright &copy;2019, <a href="https://www.innominds.com/">Innominds Software Inc.</a> All rights reserved.</p>
            <p class="email"><a>myspace@innominds.com</a></p></div>
    </div>

    <div class="col-md-6 col-sm-12 text-right">
        <img src="../../assets/images/ribbon.jpeg" alt="ribbon"  class="ribbon" />
        <div class="textonimg">
            <p>No.of user Logged in:100</p>
        </div>
    </div>

</div>