<app-header></app-header>

<div class="row mt-2">
  <div class="col-3">
    <app-navbar>
    </app-navbar>
  </div>
  <div class="col-1">

  </div>
  <div class="col-8">
      <div class = "row">
            <div *ngFor ="let res of result">
               
    <!-- <div class="card mb-4" > -->
      <div class = "card">
      <img class="card-img-top" src="../../assets/images/congrats.jpeg" alt="Card image cap"/>
      <div class="card-body text-left" >
        <h5 class="card-title">{{res.employeeId}} </h5>
        <p class="card-text">
          Compliments :&nbsp;&nbsp;{{res.raveCompliment}}
          <br/>
          Description :&nbsp;&nbsp;{{res.description}}
          <br/>
          CreatedBy: {{res.createdBy}}
          <br/>
          Postedon :{{res.createdAt}}

        </p>
      </div>
      </div>
    </div>
    </div>   

    </div>
    

    <div class="position">
      <app-footer>

      </app-footer>
    </div>