<div class="container-fluid ">

  <div class="row">
    <div class="col-12 mt-5 ml-5" >
      <!-- <div class="nav-side-menu">
           
              <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
              <div class="menu-list">
                  <ul id="menu-content" class="menu-content collapse out">
                      <li routerLink="/employeeInfo">
                      
                              Employee Info
                          
                      </li>
                      <li data-toggle="collapse" data-target="#new" class="collapsed">
                          <a>Performance Appraisal<span class="arrow"></span></a>
                      </li>
                      <ul class="sub-menu collapse" id="new">
                          <li routerLink="/postrave">ViewAppraisal</li>
                          <li routerLink="/appraisalstatus">Appraisalstatus</li>
                      </ul>
              
                  </ul>
                      
               
                <ul id="menu-content" class="menu-content collapse out">
                  
                <li data-toggle="collapse" data-target="#new2" class="collapsed">
                    Technical <span class="arrow"></span>
                </li>
                <ul class="sub-menu collapse" id="new2">
                    <li routerLink="/techsupport">Tech Support</li>
                    <li routerLink="/successfulprojects"> SuccessfulProjects</li>
                </ul>

           </ul>
           
           <ul id="menu-content" class="menu-content collapse out">
                  
                <li data-toggle="collapse" data-target="#new3" class="collapsed">
                     Rave<span class="arrow"></span>
                </li>
                <ul class="sub-menu collapse" id="new3">
                    <li routerLink="/rave">Rave</li>
                    <li routerLink="/postrave"> postrave</li>
                </ul>

           </ul>
           <ul id="menu-content" class="menu-content collapse out">
                  
                <li routerLink="/drive">
                   Drives
                </li>
              

           </ul>
           <ul id="menu-content" class="menu-content collapse out">
                  
                <li routerLink="/holiday">
                     Holidays
                </li>
              


           </ul>
              </div> -->
      <div id="accordion">

        <li class="list-group-item list-group-item-action id1 list-group-item-success " routerLink="/employeeInfo">Employee Info
        </li>



        <!-- <li class="list-group-item list-group-item-action id1 list-group-item-success "  data-toggle="collapse"  data-target="#collapseOne">Performance Appraisal
       <i class="fa fa-angle-down direction" style="font-size:20px"></i>
            </li>
         
         <div id="collapseOne" class="collapse " data-parent="#accordion">
           
       <li  class="list-group-item list-group-item-action list-group-item-success"  routerLink="/postrave">ViewAppraisal</li>
       <li  class="list-group-item list-group-item-action list-group-item-success"   routerLink="/appraisalstatus" >Appraisalstatus</li>
         
       </div> -->
        <a class="list-group-item list-group-item-action id1 list-group-item-success " data-toggle="collapse" data-target="#collapseOne">AppraisalStatus
          <i class="fa fa-angle-down direction" style="font-size:20px"></i>
        </a>
        
        <div id="collapseOne" class="collapse " data-parent="#accordion">
        
          <a class="list-group-item list-group-item-action list-group-item-success" href="/postrave">ViewAppraisal</a>
          <a class="list-group-item list-group-item-action list-group-item-success" href="/appraisalstatus">appraisalstatus</a>
        
        
        </div>
        <a class="list-group-item list-group-item-action id1 list-group-item-success " data-toggle="collapse" data-target="#collapseTwo">Technical
          <i class="fa fa-angle-down direction" style="font-size:20px"></i>
        </a>
        
        <div id="collapseTwo" class="collapse " data-parent="#accordion">
        
          <a class="list-group-item list-group-item-action list-group-item-success" href="/techsupport">TechSupport</a>
          <a class="list-group-item list-group-item-action list-group-item-success" href="/successfulprojects">Successfulprojects</a>
        
        
        </div> 
        <a class="list-group-item list-group-item-action id1 list-group-item-success " data-toggle="collapse" data-target="#collapsethree">Rave
          <i class="fa fa-angle-down direction" style="font-size:20px"></i>
        </a>
        
        <div id="collapsethree" class="collapse " data-parent="#accordion">
        
          <a class="list-group-item list-group-item-action list-group-item-success" href="/rave">Rave</a>
          <li class="list-group-item list-group-item-action list-group-item-success" href="/postrave">postrave</li>       
        </div>
        <a class="list-group-item list-group-item-action id1 list-group-item-success "  routerLink="/drive" >Drive
        
        </a> 
        <a class="list-group-item list-group-item-action id1 list-group-item-success "  routerLink="/holiday" >Holidays
        
        </a>
        <li class="list-group-item list-group-item-action id1 list-group-item-success " href="/exampleModal" routerLink="/question" >Ask a question
        </li> 
    
      </div>
    </div>

  </div>
