/**styling for the navigation css
*/

.direction
{
    float:right;
}
li{
    margin-top:2px;
    margin-bottom:2px;
}
a{
    margin-top:2px;
    margin-bottom:2px;
}
.position{
  
    margin-left:10px;
}
.list-group-item 
{
    background-color:#C0DBDD; 
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:18px;
}