<body>
  <div>
    <div class="login-form">
      <form #f="ngForm" (ngSubmit)="onSubmit()">
        <div class="avatar">
          <i class="fa fa-user fa-5x" aria-hidden="true"></i>
        </div>
        <h2 class="text-center">Member Login</h2>
        <div class="form-group">
          <input type="text" class="form-control" id="email" name="username" placeholder="Username" required="required"
            ngModel />
        </div>
        <div class="form-group">
          <input type="password" name="password" class="form-control" placeholder="Password" required="required"
            ngModel />
        </div>

        <div class="form-group">
          <input type="submit" class="btn btn-info btn-md ml-5 text-center" value="submit" >
        </div>
    
    </form>
  </div>
  </div>
</body>