/**This applies styles for login page*/
body{
  background-size:cover;
}

.img1{
  margin-left: 10px;
  height:100px;
  width:200px;
}
body {
  color: #fff;
  background:linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)),url("../../assets/images/waverock.jpeg");
  background-size: cover;
}

.form-control {
  min-height: 41px;
  background: #fff;
  box-shadow: none !important;
  border-color: #e3e3e3;
}
.form-control:focus {
  border-color:#894b25;
}
.form-control, .btn {        
  border-radius: 2px;
}
.login-form {
  width: 350px;
  margin: 0 auto;
  padding: 100px 0 30px;
  margin-bottom: 90px;		
}
.login-form form {
  color:white;
  margin-top:90px;
  border-radius: 2px;
  margin-bottom: 15px;
  font-size: 13px;
  background: rgba(0,0,0,0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;	
  position: relative;	
}
.login-form h2 {
  font-size: 22px;
  margin: 35px 0 25px;
}
.login-form .avatar {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -50px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background:#50b8b3;
  color:white;
  padding: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.login-form .avatar img {
  width: 100%;
}	
.login-form input[type="checkbox"] {
  margin-top: 2px;
}
.login-form .btn {        
  font-size: 16px;
  font-weight: bold;
  background: #50b8b3;
  border: none;
  margin-bottom: 20px;
}
.login-form .btn:hover, .login-form .btn:focus {
  background: #50b8b3;
  outline: none !important;
}    
.login-form a {
  color: #fff;
  text-decoration: underline;
}
.login-form a:hover {
  text-decoration: none;
}
.login-form form a {
  color: #7a7a7a;
  text-decoration: none;
}
.login-form form a:hover {
  text-decoration: underline;
}
.login-form form .pull-right{
  color:white;
}
