
/**
It consists css of drive component 
**/


h1{
	font-family:monospace;
	font-size:25px;
	color:black;
	text-align: center;
}
h4{
	font-family:cursive;
}
	.card-pricing.popular {
    z-index: 1;
    border: 3px solid #007bff;
}
.card-pricing .list-unstyled li {
    padding: .5rem 0;
    color: #6c757d;
}
.position{
    margin-left:10px;
}
.card-pricing{
width:700px;
}
