<app-header></app-header>

<div class="row mt-2">
    <div class="col-3">
        <app-navbar>
        </app-navbar>
    </div>
    <div class="col-2"></div>
    <div class="col-7  mt-5">
    
        <div class="pricing card-deck flex-column flex-md-row mb-3">
    
    
            <div *ngFor="let techpro of drive">
                <div class="card card-pricing text-center px-3 mb-4">
                    <span
                        class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">{{techpro.title}}</span>
    
                    <div class="card-body pt-0">
                        <ul class="list-unstyled mb-4 text-left">
                            <li><b>Details</b> : {{techpro.discription}}</li>
                            <li>Date : {{techpro.driveDate}}</li>
                            <li>Posted By : {{techpro.createdBy}}</li>
                            <li>Posted On : {{techpro.createdAt}}</li>
                        </ul>
                    </div>
                </div>
    
            </div>
        </div>

    </div>
    

    <div class="position">
        <app-footer>

        </app-footer>
    </div>