
    <app-header></app-header>

    <div class="row mt-2">
        <div class="col-3">
            <app-navbar>
            </app-navbar>
        </div>
        <div class="col-1"></div>
        <div class="col-4 parent">

            <form #f="ngForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="text">EmployeeID</label>
                <input type="text" class="form-control" id="employeeId" placeholder="Enter Employee ID" name="employeeId" ngModel>
              </div>
            
              <button type="submit" class="btn ">Submit</button>
            </form>
    </div >
    <div class="col-4"></div>

    <div class="position">
    <app-footer></app-footer>
  </div> 



 