
/**
   It consists css of appraisal status 
**/
.position{
  
    margin-left:10px;
}
.parent
{
    border:2px solid whitesmoke;
    padding:10px;
    margin-top:15px;

}
.btn
{
    background:#AED1D7; 
}