.position{
    
    margin-top:600px;
    margin-left:10px;
}
/** styling page for holiday**/
.holidaytable{
    border:1px solid black;
    height:200px;
    width:500px;
    color:darkcyan;
    font-size:12px;
    background-color:#f1f1f1;
}
.t1{
    font-family: cursive;
    font-size:20px;
    color:dodgerblue;
}
.t12{
    font-family: cursive;
    font-size:12px;
}
.t2{
    font-family: cursive;
    font-size:20px;
    color:dodgerblue;
}
.t22{
    font-family: cursive;
    font-size:12px;
}