
/**   
It consists of question component css 
**/
.question
{
    float:right;
    margin-right:120px;
    margin-top:60px;
    margin-left:200px;  
   
}
.color{
    border:1px solid black;
}
.btn
{
    float:right;
    margin-left:1px;
    margin-right: 1px;
  
}
.accordion
{
    margin-top:2px;
    margin-bottom:2px;
}
.post{
    margin-right:150px;
}
.value{
    margin-right:200px;
}
.value1{
    margin-right:200px;
}
.fa-question-circle{
    color:cadetblue;
   }
   
   .fa-reply{
    color:cadetblue;   
   }