<app-header>
</app-header>

<div class="row mt-2">
  <div class="col-3">
    <app-navbar>
    </app-navbar>
  </div>
  <div class="col-9">
    <button type="button" class="btn btn-info question post" data-toggle="modal" data-target="#question">
      Post a Question
    </button>

    <!-- The Modal -->
    <div class="modal" id="question">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Post a Question</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <input type="text" class="form-control" placeholder="Enter a Question?" (change)="changeEvent($event)" />

            <input type="submit" class="btn btn-info mt-5 value " (click)="onpost()" value="Post" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>

    <div class="col-8 mt-5 ml-5">
      <div id="accordion" *ngFor="let question of questions" class="mt-2">
        <div class="card">
          <div class="card-header">
            <p> <b>PostedBy</b>&nbsp;&nbsp;{{question.postedBy}}</p>
            <p><i class="fa fa-question-circle" aria-hidden="true"></i>{{ question.question}}</p>

            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal"
              (click)="answerId(question.questionId)">postAnswer</button>
            <div class="modal" id="myModal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Post an Answer</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body text-left">
                    <input type="text" name="answer" class="form-control" placeholder="Enter Answer"
                      (change)="changeAnswerEvent($event)" />

                    <button type="button" class="btn btn1 btn-info mt-2 value1" (click)="Answerpost()">Post</button>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn1 btn-info" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <button type="button" class="btn btn-info"
              (click)="Submit(question.questionId,question.question)">ViewAnswer</button>
            <div *ngIf="question.postedBy == id">
              <button type="button" class="btn btn-info" (click)="delete(question.questionId)">Delete</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="position ml-4 mt-2">
  <app-footer></app-footer>
</div>