/**
It consists of employeeinfo css 
**/

.position{
  
    margin-left:10px;
}
.left{
    text-align: center;
}
table{
     color:black;
margin-left:200px;
margin-top:20px;

}
.header{
    margin-left:200px;
}
.input{
    width:220px;
}
fieldset 
{
	border: 1px solid #ddd !important;
	margin: 0;
	min-width: 0;
	padding: 10px;       
	position: relative;
	border-radius:4px;
	background-color:#f5f5f5;
    padding-left:10px!important;
    width:300px;
}	
	
legend
{
	font-size:14px;
	font-weight:bold;
	margin-bottom: 0px; 
	width: 35%; 
	border: 1px solid #ddd;
	border-radius: 4px; 
	padding: 5px 5px 5px 10px; 
	background-color: #ffffff;
}

