<app-header></app-header>

<div class="row mt-2">
    <div class="col-3">
        <app-navbar>
        </app-navbar>
    </div>

        <div class="col-4">
     <h3 class="mt-3 header">EmployeeDetails</h3>
     <form #f="ngForm" (ngSubmit)="onSubmit()">
        <table class="text-left">
            <tbody class=" text mt-4">
                <tr>
                    <td>Name</td>
                    <td> {{emp_data.employee.name}}</td>
                </tr>
                <tr>
                    <td>EmployeeType</td>
                    <td> {{emp_data.employee.employmentType}} </td>
                </tr>

                <tr>
                    <td>Designation</td>
                    <td> {{emp_data.employee.designation}} </td>
                </tr>

                <tr>
                    <td>Department</td>
                    <td> {{emp_data.employee.department}} </td>
                </tr>

                <tr>
                    <td>Practice</td>
                    <td> {{emp_data.employee.practice}}</td>
                </tr>

                <tr>
                    <td>WorkLocation</td>
                    <td> {{emp_data.employee.workLocation}} </td>
                </tr>
                <tr>
                        <td>PersonalEmailId</td>
                        <td> {{emp_data.employee.companyEmailId}} </td>
                    </tr>

                <tr>
                    <td>PermantLocation</td>
                    <td> {{emp_data.employee.permanentLocation}} </td>
                </tr>
                <tr>
                    <td>businessEmailId</td>
                    <td><input type="text"                   
                         name="businessEmailId"
                         [(ngModel)]="emp_data.employee.businessEmailId" 
                        class="input form-control"  
                         ngModel/>
                    </td>
                </tr>

                <tr>
                    <td>workPlacePhoneNumber</td>
                    <td><input type="text"
                        
                        value= {{emp_data.employee.workPlacePhoneNumber}}
                        [(ngModel)]="emp_data.employee.workPlacePhoneNumber" 
                            name="workPlacePhoneNumber"
                             class="input form-control" ngModel  />
                    </td>
                </tr>

                <tr>
                    <td>PrimaryMobileNumber</td>
                    <td><input type="text"  
                       value = {{emp_data.employee.primaryMobileNumber}}
                        [(ngModel)]="emp_data.employee.primaryMobileNumber"
                            name="primaryMobileNumber" class="input form-control" ngModel/>
                    </td>
                </tr>

                <tr>
                    <td>AlternativeMobileNumber</td>
                    <td><input type="text"value={{emp_data.employee.alternativeMobileNumber}}
                        [(ngModel)]="emp_data.employee.alternativeMobileNumber"
                            name="alternativeMobileNumber" class="input form-control" ngModel/>
                    </td>
                </tr>

                <tr>
                    <td>skypeId</td>
                    <td><input type="text" value={{emp_data.employee.skypeId}}
                        [(ngModel)]="emp_data.employee.skypeId"
                         name="skypeId" class="input form-control"  ngModel/>
                    </td>
                </tr>
                <br>
                <tr><td colspan="2" class="text-center"><input type="submit" value="submit"  /></td></tr>
            </tbody>
        </table>
    </form>
    </div>
 
    <div class="col-2">

            
            <table class="text-left">
                <tr>
                    <td>
                        <img src = "../../assets/images/Kayla_Person-small.jpg" height="200px" width="200px"/><br />
                        <!-- <form><br />
                            <input type="file" onChange={this.onChange} encType="multipart/form-data" />
            
                        </form>
                        <button type="submit">Upload</button> -->
                    </td>
                </tr>
                <tr>
                    <br />
                    <fieldset class="text-left">
                        <legend>Status</legend>
                      <div class="panel panel-default">
                            <div class="panel-body">
                                <p>Job Status:&nbsp;{{emp_data.employee.jobStatus}}</p>
                                <p>Billable:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{emp_data.employee.billable}}</p>
                            </div>
                        </div>
            
                    </fieldset>
                </tr>
            
            </table>
          </div>
    </div>




<div class="position mt-5">
    <app-footer></app-footer>
</div>