
    <app-header></app-header>

    <div class="row mt-2">
        <div class="col-3">
            <app-navbar>
            </app-navbar>
        </div>
        <div class="col-1"></div>
        <div class="col-6 parent">
            <div class="card" >
                <div class="card-body" *ngFor="let techpro of array">
                    <h3 class="card-text">{{techpro .title}}</h3>
                    <p class="card-text">{{techpro .content}}</p>
                    <hr/>
                </div>
            </div>
          
    </div >
    <div class="col-2"></div>

    <div class="position" >
    <app-footer></app-footer>
  </div>