
    <app-header></app-header>

    <div class="row mt-2">
        <div class="col-3">
            <app-navbar>
            </app-navbar>
        </div>
        <div class="col-1"></div>
        <div class="col-6 parent mt-3">

     
                <div *ngFor="let techpro of tech"><h6>{{techpro.title}}</h6><a href={{techpro.content}}>{{techpro.content}}</a>
                  <hr/></div>
                
    </div >
    <div class="col-5"></div>

    <div class="position" >
     <app-footer>
         
     </app-footer>      
  </div>
