
    <app-header></app-header>

    <div class="row mt-2">
        <div class="col-3">
            <app-navbar>
            </app-navbar>
        </div>
        <div class="col-2"></div>
        <div class="col-4  mt-5">

            
                                    <div class="card searchemp">
                                        <i class="fa fa-user fa-8x text-center defaultemp" aria-hidden="true" ></i>
 
                                        <hr />
                                        <div class="card-body text-left">
                                            <table >
                                                <tr class="card-text"><td>Name</td><td>:</td><td>{{emp_data.result.name}}</td></tr>
                                                <tr class="card-text"><td>Employement Type</td><td>:</td><td>{{emp_data.result.employmentType}}</td></tr>
                                                <tr class="card-text"><td>Designation</td><td>:</td><td>{{emp_data.result.designation}}</td></tr>
                                                <tr class="card-text"><td>Department</td><td>:</td><td>{{emp_data.result.department}}</td></tr>
                                                <tr class="card-text"><td>Practice</td><td>:</td><td>{{emp_data.result.practice}}</td></tr>
                                                <tr class="card-text"><td>Work Location</td><td>:</td><td>{{emp_data.result.workLocation}}</td></tr>
                                                <tr class="card-text"><td>Company Email-id</td><td>:</td><td>{{emp_data.result.companyEmailId}}</td></tr>
                                                <tr class="card-text"><td>Permanent Location</td><td>:</td><td>{{emp_data.result.permanentLocation}}</td></tr>
                                                <tr class="card-text"><td>WorkStation ID</td><td>:</td><td>{{emp_data.result.workStationId}}</td></tr>
                                            </table>
                                        </div>
                                    </div>               
    </div >
    <div class="col-3"></div>

    <div class="parent">
     <app-footer>
         
     </app-footer>      
  </div>

