<app-header>
</app-header>

<div class="row mt-2">
  <div class="col-3">
    <app-navbar>
    </app-navbar>
  </div>
  <div class="col-9">
    <div class="col-8 mt-5 ml-5">
      <div id="accordion" class="accordion mt-5 mb-5">

        <div class="card">
          <div class="card-header">
            <p><i class="fa fa-question-circle" aria-hidden="true"></i>&nbsp;{{question}} </p>
            <div *ngFor="let answer of answers">
              <p>PostedBy:{{answer.postedBy}}</p>
              <p><i class="fa fa-reply" aria-hidden="true"></i>&nbsp;&nbsp;{{ answer.answer}}</p>
              <button class="btn btn-info mr-2" (click)="onSubmit(answer.answer,answer.answerId,answer.questionId)"
                *ngIf="this.empId == answer.postedBy" data-toggle="modal" data-target="#myModal">Edit</button>
              <button class="btn btn-info" (click)="deleteAnswer(answer.answerId)">Delete</button>
              <hr />

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="myModal">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title">Post an Answer</h5>
                  <button type="button" class="close"data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body text-left">
                  <input type="text" name="answer"
                      class="form-control"
                      placeholder="Enter Answer"
                      [(ngModel)]="answer"
                 />
                
                  <button type="button" class="btn btn1 btn-info mt-2 value1" (click)="editAnswer()">Post</button>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn1 btn-info" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>





</div>
<div class="position ml-4 mt-2">
  <app-footer></app-footer>
</div>