<app-header></app-header>

<div class="row mt-2">
    <div class="col-3">
        <app-navbar>
        </app-navbar>
    </div>
     <div class="col-1">
    </div>
    <div class="col-8">
        <div class="image-flip" ontouchstart="result.classList.toggle('hover');">
            <div class="mainflip">
                <div class="frontside">
                    <div class="card">
                        <div class="card-body text-center">
                            <p><img class=" img-fluid" src="../../assets/images/notification.png" alt="card image" />
                            </p>
                            <h4 class="card-title"></h4>

                            <!-- <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>  -->
                        </div>
                    </div>
                </div>
                <div class="backside">
                    <div class="card">
                        <div class="card-body text-left mt-4">
                            <h4 class="card-title text-center"></h4>
                            <p class="card-text">Name of Event : {{result.title}}</p>
                            <p class="card-text">Date
                                on&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:{{result.driveDate}}
                            </p>
                            <p class="card-text">
                                Description&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:{{result.discription}}
                            </p>
                            <p class="card-text">
                                CreatedBy&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:{{result.createdBy}}
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="position ml-4 mt-2">
        <app-footer></app-footer>
    </div>